h1 {
    margin-left: 20px;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;


}

h2 {
    font-weight: bold;
    background-color: blanchedalmond;
}

nav {

    font-size: 25px;
    background-color: rgb(204, 95, 95);
    height: 100px;
    padding-left: 500px;

}

a {
    text-decoration: none;
    font-size: 20px;

}

#gap {
    padding-left: 25px;
}

body {
    background-image: url('shoopingimage.jpeg');
    background-size: cover;
}

@media (max-width:500px) {
    body {

        background-size: cover;

    }

    h1 {
        margin-left: 10px;
        font-size: 50px;

    }

    a {
        text-decoration: none;
        font-size: 30px;

    }

    nav {

        font-size: 15px;

        height: 50px;
        padding-left: 0px !important;

    }

    #gap {
        padding-left: none;
    }


}