#upperdiv1 {
    width: 100%;
    height: 200px;
    display: flex;
    border-bottom: 3px solid brown;
}

img {
    height: 100%;
    width: 200px;
}

body {
    background-color: lightgrey;
}

h1 {
    color: darkred;

}

p {
    color: rgb(53, 7, 181);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-style: italic;
    line-height: 11px;
}

* {
    margin-top: 0%;
}

#upperdiv2 {
    border-bottom: 3px solid brown;
}

#table {
    background-color: beige;
}

@media screen and (max-width:500px) {
    #upperdiv1 {
        width: auto;
        height: auto;
        display: block;

    }

    p {

        line-height: 15px;
    }


}